{% extends 'base.html.twig' %}

{% block title %}Inscription de l'étudiant{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Inscription de l'étudiant</h1>

        {{ form_start(etudiantForm, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="mb-3">
            {{ form_row(etudiantForm.Domain, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(etudiantForm.LearningChoice, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(etudiantForm.Comments, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(etudiantForm.LevelStudies, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            <label><i class="fa-solid fa-wheelchair"></i> Avez-vous un handicap ?</label>
            <div class="form-check">
                {{ form_widget(etudiantForm.Disability.0) }}
                {{ form_label(etudiantForm.Disability.0, 'Oui', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
            <div class="form-check">
                {{ form_widget(etudiantForm.Disability.1) }}
                {{ form_label(etudiantForm.Disability.1, 'Non', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(etudiantForm.doc, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>

        {{ form_end(etudiantForm) }}
    </div>
{% endblock %}
