{% extends 'base.html.twig' %}

{% block title %}Inscription du mentor{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Inscription du mentor</h1>

        {{ form_start(mentorForm, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="mb-3">
            {{ form_row(mentorForm.domain, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(mentorForm.learningChoice, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(mentorForm.comments, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(mentorForm.levelExperience, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(mentorForm.availability, {'attr': {'class': 'form-control'}}) }}
        </div>

        <!-- Ajout du champ de téléchargement du document -->
        <div class="mb-3">
            {{ form_row(mentorForm.doc, {'label': 'Télécharger un document (CV ou lettre de motivation)', 'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>

        {{ form_end(mentorForm) }}
    </div>
{% endblock %}

