{% extends 'base.html.twig' %}

{% block title %}Inscription du mentor{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription du mentor</h1>

        {{  form_start(mentorForm) }}

        {{  form_row(mentorForm.Domain) }}
        {{  form_row(mentorForm.LearningChoice) }}
        {{  form_row(mentorForm.Comments) }}
        {{  form_row(mentorForm.LevelExperience) }}
        {{  form_row(mentorForm.Avaibility) }}

        <div class=" form-group">

            <button type="submit" class="btn mt-4">S'inscrire</button>
        </div>

        {{  form_end(mentorForm) }}
    </div>
{% endblock %}
