{% extends 'base.html.twig' %}

{% block title %}
    À Propos De Nous
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/about.css') }}">
{% endblock %}

{% block body %}
    <body>

        <!-- 1ere page -->

        <div class="main-container">

            <div class="left-side">
                <img src="{{ asset ('images/about/about.jpeg') }}" alt="Image de solidarité">
            </div>

            <div class="right-side">
                <p class="about-us" style="color: #0089ff; padding-bottom: 10px;font-weight: bold">À PROPOS DE NOUS</p>
                <h2>L'amour à son<br>apogée</h2>
                <br>
                <p>La meilleure philosophie de la charité est celle qui <br>est la plus efficace pour aider ceux dans le besoin.</p>
            </div>

        </div>

        <!-- 2eme page -->

        <div class="statistique">
        <p class="header-text">Peu importe ce qui vous tient à cœur, il y aura une<br> association caritative qui travaille sur cette cause.</p>
        <div class="stats-container">
            <div class="stat">
                <div class="number-container">
                    <h1>42</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Personnes</p>
                    <p class="description">Prévention de la cruauté</p>
                </div>
            </div>
            <div class="stat">
                <div class="number-container">
                    <h1>73</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Sociétés</p>
                    <p class="description">Secours direct</p>
                </div>
            </div>
            <div class="stat">
                <div class="number-container">
                    <h1>09</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Projets</p>
                    <p class="description">Hôpital de recherche</p>
                </div>
            </div>
        </div>
        </div>

        <!-- 3eme page -->

        <div class="third-container">

            <div class="right-side">
                <img src="{{ asset ('images/about/about2.jpeg') }}" alt="Image de solidarité">
            </div>
            <div class="left-side">
                <p class="about-us2" style="color: #0089ff; font-weight: bold">DEVENIR BÉNÉVOLE</p>

                <br>
                <h2>L'amour inconditionnel<br>pour les autres</h2>
                <br>
                <p>La charité est l'acte de fournir de l'aide à ceux qui en ont besoin. C'est un acte humanitaire qui implique de donner de l'argent, des biens, du temps et des efforts à ceux qui en ont besoin.</p>
                <br>
                <div class="button-container">
                    <a href="#" class="volunteer-button">DEVENIR BÉNÉVOLE</a>
                </div>
            </div>
        </div>

        <!-- 4eme page -->

        <div class="volunteers-container">
            <div class="title-section">
                <div class="subtitle" style="color: #0089ff; font-weight: bold">BÉNÉVOLES</div>
                <br>
                <h2>Nos Bénévoles</h2>
            </div>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="card">
                    <img src="{{ asset ('images/about/ben1.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <img src="{{ asset ('images/about/ben2.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <img src="{{ asset ('images/about/ben3.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="card">
                    <img src="{{ asset ('images/about/ben4.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5eme page -->

        <div class="faq-container">
            <div class="faq-header">
                <div class="faq-subtitle" style="color: #0089ff; font-weight: bold;font-size: 20px;">FAQ</div>
                <p>Les Réponses À Toutes Vos<br>Questions</p>
            </div>
            <div class="faq-box">
                <div class="faq-item">
                    <div class="faq-item-title">
                        <span>Comment puis-je faire un don pour soutenir votre cause?</span>
                        <span class="faq-toggle">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Vous pouvez soutenir notre cause en faisant un don en ligne via notre site sécurisé ou en envoyant un
                            chèque à notre adresse indiquée sur le site. Chaque contribution est grandement appréciée et contribue
                            directement à notre mission humanitaire.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-title">
                        <span>Quels sont les critères pour devenir bénévole?</span>
                        <span class="faq-toggle">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Il vous suffit de remplir un formulaire de candidature sur notre site web. Nous recherchons des
                            personnes motivées et prêtes à consacrer du temps à notre cause. Une fois votre candidature examinée,
                            nous vous contacterons pour la suite du processus.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-title">
                        <span>Où puis-je trouver des informations sur les événements?</span>
                        <span class="faq-toggle">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Vous pouvez trouver toutes les informations sur nos événements sur notre site Web. Nous mettons
                            régulièrement à jour notre page d'événements pour que vous puissiez rester informé des opportunités
                            de participation et de soutien à notre cause.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-title">
                        <span>Quelles sont vos principales domaines d'intervention?</span>
                        <span class="faq-toggle">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Nos principaux domaines d'intervention sont l'éducation et la solidarité. Nous nous engageons à soutenir
                            l'accès à l'éducation pour tous et à aider les communautés vulnérables à travers des initiatives solidaires.
                            Votre soutien est essentiel pour ces causes.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-title">
                        <span>Quelle est votre politique de confidentialité?</span>
                        <span class="faq-toggle">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Notre politique de confidentialité assure la protection de vos informations personnelles. Nous nous
                            engageons à ne pas partager vos données avec des tiers et à les utiliser uniquement dans le cadre spécifié
                            lors de leur collecte.</p>
                    </div>
                </div>
            </div>

        </div>


    </body>
    <script src="{{ asset('controllers/script_about.js') }}"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}