{% extends 'base.html.twig' %}

{% block title %}
    About Us
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/about.css') }}">
{% endblock %}

{% block body %}
    <body>

        <!-- 1ere page -->

        <div class="main-container">

            <div class="left-side">
                <img src="{{ asset ('images/about.jpeg') }}" alt="Image de solidarité">
            </div>

            <div class="right-side">
                <p class="about-us" style="color: #0089ff; padding-bottom: 10px;font-weight: bold">À PROPOS DE NOUS</p>
                <h2>L'amour à son<br>apogée</h2>
                <br>
                <p>La meilleure philosophie de la charité est celle qui <br>est la plus efficace pour aider ceux dans le besoin.</p>
            </div>

        </div>

        <!-- 2eme page -->

        <div class="statistique">
        <p class="header-text">Peu importe ce qui vous tient à cœur, il y aura une<br> association caritative qui travaille sur cette cause.</p>
        <div class="stats-container">
            <div class="stat">
                <div class="number-container">
                    <h1>42</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Personnes</p>
                    <p class="description">Prévention de la cruauté</p>
                </div>
            </div>
            <div class="stat">
                <div class="number-container">
                    <h1>73</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Sociétés</p>
                    <p class="description">Secours direct</p>
                </div>
            </div>
            <div class="stat">
                <div class="number-container">
                    <h1>09</h1>
                </div>
                <div class="text-container">
                    <p class="titre">Projets</p>
                    <p class="description">Hôpital de recherche</p>
                </div>
            </div>
        </div>
        </div>

        <!-- 3eme page -->

        <div class="third-container">

            <div class="right-side">
                <img src="{{ asset ('images/about2.jpeg') }}" alt="Image de solidarité">
            </div>
            <div class="left-side">
                <p class="about-us2" style="color: #0089ff; font-weight: bold">DEVENIR BÉNÉVOLE</p>

                <br>
                <h2>L'amour inconditionnel<br>pour les autres</h2>
                <br>
                <p>La charité est l'acte de fournir de l'aide à ceux qui en ont besoin. C'est un acte humanitaire qui implique de donner de l'argent, des biens, du temps et des efforts à ceux qui en ont besoin.</p>
                <br>
                <div class="button-container">
                    <a href="#" class="volunteer-button">DEVENIR BÉNÉVOLE</a>
                </div>
            </div>
        </div>

        <!-- 4eme page -->

        <div class="volunteers-container">
            <div class="title-section">
                <div class="subtitle" style="color: #0089ff; font-weight: bold">BÉNÉVOLES</div>
                <br>
                <h2>Nos Bénévoles</h2>
            </div>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="card">
                    <img src="{{ asset ('images/ben1.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <img src="{{ asset ('images/ben2.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <img src="{{ asset ('images/ben3.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="card">
                    <img src="{{ asset ('images/ben4.jpeg') }}" alt="Benito Noboa">
                    <div class="card-info">
                        <h3>Benito Noboa</h3>
                        <p>Bénévole</p>
                    </div>
                </div>
            </div>
        </div>


    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}



