<!DOCTYPE html>
<body>
<div class="card-back">
    <div class="center-wrap">
        <div class="section text-center">

            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            <h4 class="mb-3 pb-3">Inscription</h4>
            <div class="form-group">
                <div style="display: flex;">
                    <div style="flex: 1; margin-right: 10px;"> <!-- Utilisation de Flexbox -->
                        {{ form_row(registrationForm.FirstName) }}
                    </div>
                    <div style="flex: 1; margin-left: 10px;"> <!-- Utilisation de Flexbox -->
                        {{ form_row(registrationForm.LastName) }}
                    </div>
                </div>
            </div>

            <div class="form-group mt-2">
                {{ form_row(registrationForm.Address) }}
            </div>
            <div class="form-group mt-2">
                {{ form_row(registrationForm.PhoneNumber) }}
            </div>
            <div class="form-group mt-2" style="display: flex;">
                <i class="fa-solid fa-venus-mars" style="font-size: 20px; margin-left: 20px;"></i>
                <div style="margin-left: 85px;">
                    <span>{{ form_row(registrationForm.Gender) }}</span>
                </div>
                <div style="margin-left: 59px;">
                    {{ form_row(registrationForm.DOB) }}
                </div>
            </div>
            <div class="form-group mt-2">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-group mt-2">
                <div class="password-input-wrapper">
                    {{ form_widget(registrationForm.plainPassword, {'id': 'passwordRegistrationField'}) }}
                    <i class="input-icon uil uil-lock-alt"></i>
                    <button type="button" id="toggleButton" class="eye-toggle-button">
                        <i class="fa-regular fa-eye-slash"></i>
                    </button>
                </div>
            </div>
            <small>
                <strong>
                    {{ form_help(registrationForm.plainPassword) }}
                </strong>

                <ul class="criteria-list">
                    <li>au moins 8 caractères</li>
                    <li>une lettre majuscule</li>
                    <li>une lettre minuscule</li>
                    <li>un chiffre</li>
                    <li>un caractère spécial @ $ ! % * ? & .</li>
                </ul>
            </small>
            <div class="form-group mt-2">
                {{ form_row(registrationForm.confirmPassword, {'id': 'confirmPasswordField'}) }}
            </div>
            <div class="form-group">

            <button type="submit" class="btn mt-4">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
</body>
</html>

