{% extends 'base.html.twig' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/newPassForm.css') }}">
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <section class="container">
        <div class="form-container">
        <div class="form">
            <div class="title">
                <h1 class="h3 mb-3 font-weight-normal"> Modification du mot de passe </h1>
                <br>
                {{ form_start(passwordForm) }}
                <fieldset>
                    {{ form_label(passwordForm.newPassword) }}
                    <div class="password-input-wrapper">
                        {{ form_widget(passwordForm.newPassword, {'id': 'passwordRegistrationField'}) }}
                        <button type="button" id="toggleButton" class="eye-toggle-button">
                            <i class="fa-regular fa-eye-slash"></i>
                        </button>
                    </div>
                    {{ form_row(passwordForm.confirmNewPassword, {'id': 'confirmPasswordField'}) }}
                    <small>
                        <strong>
                            {{ form_help(passwordForm.newPassword) }}
                        </strong>
                        <br>
                        <ul class="criteria-list">
                            <li>au moins 8 caractères</li>
                            <li>une lettre majuscule</li>
                            <li>une lettre minuscule</li>
                            <li>un chiffre</li>
                            <li>un caractère spécial @ $ ! % * ? & .</li>
                        </ul>
                    </small>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col md-3">
                                <button class="button button-cancel" type="button" style="background-color: red;" onclick="window.history.back();">
                                    <i class="fa-solid fa-delete-left"></i>
                                    <span> Annuler </span>
                                </button>
                            </div>
                            <div class="col md-3">
                                <button class="button button-submit" type="submit" style="background-color: forestgreen; border: none;">
                                    <i class="fa-solid fa-square-check"></i>
                                    <span> Enregistrer </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>

                </fieldset>
                {{ form_end(passwordForm) }}
            </div>
        </div>
</div>
    </section>
    <script src="{{ asset('controllers/password/password-toggle.js') }}"></script>
    <script src="{{ asset('controllers/password/password-validation.js') }}"></script>
{% endblock %}
