<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
    </head>
    <header class="header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-grow-1">
                    <div class="logo mr-3">
                        <h1 class="header-title">Community<br>Support</h1>
                    </div>
                    <nav class="nav align-items-center" style="padding-left: 35px;">
                        <a href="{{ path('home') }}">Home</a>
                        <a href="#education">Education</a>
                        <a href="#solidarity">Solidarity</a>
                        <a href="{{ path('about') }}">About us</a>
                        <a href="#contact">Contact</a>
                    </nav>
                </div>
                <a href="{{ path('inscription') }}">
                    <button class="header-btn">Sign up</button>
                </a>
                <a href="{{ path('authentification') }}">
                    <button class="header-btn">Sign in</button>
                </a>
            </div>
        <hr class="separator">
    </header>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>