{% extends 'base.html.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Intégration de Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenu texte à gauche -->
                    <div class="top">
                        <h1>Offrir de l'aide<br>aux moins<br>chanceux</h1><br>
                        <h5>Il s'agit de contribuer à la communauté et<br>d'améliorer le monde.</h5><br>
                        <button class="purple">Faire un don</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Image à droite -->
                    <img src="{{ asset ('images/home/child.jpeg') }}" class="img-fluid" alt="Image" width="500" height="200">
                </div>
            </div>
        </div>
        <div style="background-color: white;">
            <br>
            <p class="blue">NOS CARACTERISTIQUES</p>
            <h4>Vous pouvez faire la différence en soutenant<br>une association caritative qui vous tient à<br>coeur. Votre don peut changer des vies.</h4>
            <br><br>
            <div class="table-container1">
                <div class="col">
                    <h5> <img src="{{ asset ('images/home/hand.jpeg') }}" width='60' height='80'>Aide directe</h5><br>
                    <p>Les associations caritatives donnent aux gens le<br>pouvoir de faire une différence meme si c'est<br>seulement de manière modeste.</p>
                </div>
                <div class="col">
                    <h5><img src="{{ asset ('images/home/hand2.jpeg') }}" width='60' height='80'>Fournir des informations</h5><br>
                    <p>Ce sont les personnes passionées par une cause<br>qui sont celles qui peuvent avoir le plus d'impact.</p>
                </div>
                <div class="col">
                   <h5><img src="{{ asset ('images/home/planet.jpeg') }}" width='70' height='80'>Sensibilisation</h5><br>
                    <p>Votre voix et vos actions comptent et vous pouvez<br>changer le monde.</p>
                </div>
                <div class="col">
                    <h5><img src="{{ asset ('images/home/plant.jpeg') }}" width='70' height='80'>Lutte contre la pauvreté</h5><br>
                    <p>Quand les gens se rassemblent pour oeuvrer en<br>faveur d'une cause commune, ils peuvent accomplir<br>de grandes choses.</p>
                </div>
            </div><br><br>
            <p class="blue">NOS CAS</p>
            <h3>Nos causes récentes</h3>
            <br><br>
            <div class="table-container2">
                <div class="col">
                    <img src="{{ asset ('images/home/water.jpeg') }}" style="width: 100%;"><br><br>
                    <h5 style="font-weight:bold">Engagez-vous pour la<br>charité de l'eau</h5><br>
                    <p>$4,373</p>
                    <p class="grey">$10,000 goal</p>
                    <progress value="4373" max="10000"></progress><br><br>
                    <button class="purple">Faire un don</button>
                </div>
                <div class="col">
                    <img src="{{ asset ('images/home/food.jpeg') }}" style="width: 100%;"><br><br>
                    <h5 style="font-weight:bold">Engagez-vous pour la<br>charité alimentaire</h5><br>
                    <p>$5,200</p>
                    <p class="grey">$7,000 goal</p>
                    <progress value="5200" max="7000"></progress><br><br>
                    <button class="purple">Faire un don</button>
                </div>
                <div class="col">
                    <img src="{{ asset ('images/home/humanity.jpeg') }}" style="width: 100%;"><br><br>
                    <h5 style="font-weight:bold">Engagez-vous pour<br>l'humanitaire</h5><br>
                    <p>$27,890</p>
                    <p class="grey">$50,000 goal</p>
                    <progress value="27890" max="50000"></progress><br><br>
                    <button class="purple">Faire un don</button>
                </div>
            </div>
            <br><br>
            <div class="text-center">
                <button class="purple" style="width:180px;">EXPLORER TOUT</button>
            </div>
            <br><br>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Intégration de Bootstrap JavaScript pour le fonctionnement complet -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

