{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
    {% endblock %}
    <section class="container">
        <div class="form">
            <div class="title">
                <h1>Inscription</h1>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                        <fieldset>
                            {{ form_row(registrationForm.FirstName) }}
                            {{ form_row(registrationForm.LastName) }}
                            {{ form_row(registrationForm.Address) }}
                            {{ form_row(registrationForm.PhoneNumber) }}
                            {{ form_row(registrationForm.Gender) }}
                            {{ form_row(registrationForm.DOB) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_label(registrationForm.plainPassword) }}
                            <div class="password-input-wrapper">
                                {{ form_widget(registrationForm.plainPassword, {'id': 'passwordField'}) }}
                                <button type="button" id="toggleButton" class="eye-toggle-button">
                                    <i class="fa-regular fa-eye-slash"></i>
                                </button>
                            </div>
                            <small>
                                <strong>
                                    {{ form_help(registrationForm.plainPassword) }}
                                </strong>
                                <br>
                                <ul class="criteria-list">
                                    <li>au moins 8 caractères</li>
                                    <li>une lettre majuscule</li>
                                    <li>une lettre minuscule</li>
                                    <li>un chiffre</li>
                                    <li>un caractère spécial @ $ ! % * ? & .</li>
                                </ul>
                            </small>
                            <div class="form-group">
                                <label for="confirmPasswordField"> Confirmez le mot de passe</label>
                                <input type="password" id="confirmPasswordField" name="confirmPassword" class="form-control" required>
                            </div>
                            {{ form_row(registrationForm.agreeTerms) }}
                            <br>
                            <div class="form-group">
                                <button type="submit" class="button button-submit"> S'inscrire </button>
                            </div>
                        </fieldset>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
    </section>
    <script src="{{ asset('controllers/password/password-toggle.js') }}"></script>
    <script src="{{ asset('controllers/password/password-validation.js') }}"></script>
    <script src="https://kit.fontawesome.com/d3a313e584.js" crossorigin="anonymous"></script>
{% endblock %}
