{# templates/inscription/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    <h1>{{ pageName }}</h1>

    {% if form is defined %}
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.FirstName) }}
                {{ form_widget(form.FirstName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.LastName) }}
                {{ form_widget(form.LastName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.Adress) }}
                {{ form_widget(form.Adress) }}
            </div>

            <div class="form-group">
                {{ form_label(form.Phone) }}
                {{ form_widget(form.Phone) }}
            </div>

            <div class="form-group">
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender) }}
            </div>

            <div class="form-group">
                {{ form_label(form.DOB) }}
                {{ form_widget(form.DOB) }}
            </div>

            <div class="form-group">
                {{ form_label(form.Email) }}
                {{ form_widget(form.Email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.Password) }}
                {{ form_widget(form.Password) }}
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}