{% extends '/base.html.twig' %}

{% block title %} Profil {% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
    </head>
    <body>
        <div class="form" style="width: 650px">
            <h1> {{ pageName }} </h1>
            {% if form is defined %}
                {{ form_start(form, {'attr': {'class': 'needs-validation'}, 'method': 'POST'}) }}
                    <div class="col-md-7 col-lg-8">

                    <div class="row g-3">
                        <!-- Dans chaque input, je rjt un name = val que j'ai donné ds mon User. Utile pour modif les données-->
                        <div class="col-sm-6">
                            {{ form_label(form.FirstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.FirstName,{'attr': {'class': 'form-control editable', 'id': 'FirstName'}}) }}
                        </div>

                        <div class="col-sm-6">
                            {{ form_label(form.LastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.LastName,{'attr': {'class': 'form-control editable', 'id': 'LastName'}}) }}
                        </div>

                        <div class="col-12">
                            {{ form_label(form.Adress, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.Adress,{'attr': {'class': 'form-control editable', 'id': 'Adress'}}) }}
                        </div>

                        <div class="col-12">
                            {{ form_label(form.Phone, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.Phone,{'attr': {'class': 'form-control editable', 'id': 'Phone'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.gender, 'Genre', {'label_attr': {'class': 'form-label', 'style': 'margin-top: 20px;'}}) }}
                            {{ form_widget(form.gender, {'attr': {'class': 'form-select editable', 'id': 'gender'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.DOB, 'Date de naissance', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.DOB,{'attr': {'class': 'form-control editable', 'id': 'DOB'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.Email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.Email,{'attr': {'class': 'form-control editable', 'id': 'Email'}}) }}
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="col-12">
                    <button id="deleteButton" type="button" class="btn btn-primary" style="background-color: red; border: none; margin-right: 15px;">Supprimer le compte</button>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Es-tu vraiment sûr de vouloir supprimer ton compte ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <a href="{{ path('delete') }}" id="confirmDeleteButton" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{{ path('update') }}">
                        <button id="editButton" type="button" class="btn btn-primary" style="background-color: forestgreen; border: none;">Modifier</button>
                    </a>
                    <a href="{{ path('profil') }}">
                        <button id="cancelChangesButton" type="button" class="btn btn-secondary" style="background-color: red; margin-right: 15px; ">Annuler les modifications</button>
                    </a>
                        <button id="saveChangesButton" class="btn btn-primary" style="background-color: forestgreen; margin-right: 15px; border : none;">Enregistrer les modifications</button>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </body>
    <script src="{{ asset('controllers/password/password-toggle.js') }}"></script>
    <script src="{{ asset('controllers/activate-update.js') }}"></script>
    <script src="{{ asset('controllers/delete-confirmed.js') }}"></script>
{% endblock %}