{% extends '/base.html.twig' %}

{% block title %} Profil {% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
    </head>
    <body>
    <div class="form" style="width: 650px">
        <div class="col-md-7 col-lg-8">
            <h1> {{ pageName }} </h1>
            {% if form is defined %}
            {{ form_start(form, {'attr': {'class': 'needs-validation'}, 'method': 'POST') }}
                <div class="row g-3">
                    <!-- Dans chaque input, je rjt un name = val que j'ai donné ds mon User. Utile pour modif les données-->
                    <div class="col-sm-6">
                        {{ form_label(form.FirstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.FirstName,{'attr': {'class': 'form-control editable', 'id': 'FirstName'}}) }}
                    </div>

                    <div class="col-sm-6">
                        {{ form_label(form.LastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.LastName,{'attr': {'class': 'form-control editable', 'id': 'LastName'}}) }}
                    </div>

                    <div class="col-12">
                        {{ form_label(form.Adress, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Adress,{'attr': {'class': 'form-control editable', 'id': 'Adress'}}) }}
                    </div>

                    <div class="col-12">
                        {{ form_label(form.Phone, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Phone,{'attr': {'class': 'form-control editable', 'id': 'Phone'}}) }}
                    </div>
                    <div class="col-12">
                        {{ form_label(form.gender, 'Genre', {'label_attr': {'class': 'form-label', 'style': 'margin-top: 20px;'}}) }}
                        {{ form_widget(form.gender, {'attr': {'class': 'form-select editable', 'id': 'gender'}}) }}
                    </div>
                    <div class="col-12">
                        {{ form_label(form.DOB, 'Date de naissance', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.DOB,{'attr': {'class': 'form-control editable', 'id': 'DOB'}}) }}
                    </div>
                    <div class="col-12">
                        {{ form_label(form.Email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Email,{'attr': {'class': 'form-control editable', 'id': 'Email'}}) }}
                    </div>
                    <div class="col-12">
                        {{ form_label(form.Password, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        <div class="password-input-wrapper">
                            {{ form_widget(form.Password, {'attr': {'class': 'form-control editable', 'id': 'passwordField', 'value': initialPassword}}) }}
                            <button type="button" id="toggleButton" class="eye-toggle-button" style="margin-bottom: -15px">
                                <i class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>

                </div>

        </div>

        <hr class="my-4">
        <div class="col-12">
            <button id="cancelChangesButton" class="btn btn-secondary" style="background-color: red; margin-right: 15px;">Annuler les modifications</button>
            {{ form_row(form.submit, {'label': 'Enregistrer les modifications', 'attr': {'class': 'btn btn-primary', 'style': 'background-color: forestgreen'}}) }}
        </div>
        {% endif %}
    </div>
    </body>
    <script src="{{ asset('controllers/password/password-toggle.js') }}"></script>
    <script src="https://kit.fontawesome.com/d3a313e584.js" crossorigin="anonymous"></script>
{% endblock %}