{% extends 'base.html.twig' %}

{% block body %}
    <h1>Poster un événement</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.created_at_p) }}
    {{ form_row(form.location) }}
    {{ form_row(form.category) }}
    {{ form_row(form.user_id) }}

    <button type="submit" class="btn btn-primary">Poster</button>
    {{ form_end(form) }}
{% endblock %}