{% extends 'base.html.twig' %}

{% block title %}
    Solidarity
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/solidarity.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <h1 class="title1">Bienvenue sur la page solidarité</h1><br>
                <p class="text1">Ici je peux suivre les événements de solidarité et y participer !<br>Je peux meme poster mes propres événements.</p><br>
                <a href="{{ path('solidarity_form') }}">
                    <button class="purple">JE POSTE UN EVENEMENT</button>
                </a>
            </div>
            <div class="col-md-6"><br>
                <img src="{{ asset ('images/solidarity/top.jpeg') }}" class="img-fluid" alt="Image" width="500" height="200">
            </div>
        </div>
        <br><br>
    </div>
    <div class="contain">
        <br><br>
        <p class="blue">LES DERNIERS EVENEMENTS</p>
        <h3>Consultez les événements d'actualité</h3>
        <br>
        <div class="table-container1">
            {% for event in events %}
            <div class="col">
                {% if event.category == "alimentaire" %}
                    <img src="{{ asset ('images/solidarity/alimentaire.jpeg') }}" class="image" alt="Image">
                    <p class="date-creat">Evènement alimentaire</p>
                {% else %}
                    {% if event.category == "communautaire" %}
                        <img src="{{ asset ('images/solidarity/communautaire.jpeg') }}" class="image" alt="Image">
                        <p class="date-creat">Evènement communautaire</p>
                    {% else %}
                        {% if event.category == "environnemental" %}
                            <img src="{{ asset ('images/solidarity/environnemental.jpeg') }}" class="image" alt="Image">
                            <p class="date-creat">Evènement environnemental</p>
                        {% else %}
                            {% if event.category == "sensibilisation" %}
                                <img src="{{ asset ('images/solidarity/sensibilisation.jpeg') }}" class="image" alt="Image">
                                <p class="date-creat">Evènement de sensibilisation</p>
                            {% else %}
                                <img src="{{ asset ('images/solidarity/solidarite.jpeg') }}" class="image" alt="Image">
                                <p class="date-creat">Evènement de solidarité</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <br>
                <button class="like-button" onclick="toggleLike(this)" data-post-id="{{ event.id }}">
                    <svg class="heart-icon" viewBox="0 0 24 24">
                        <path fill="red" d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5C2,5.42,4.42,3,7.5,3c1.74,0,3.41,0.81,4.5,2.09C13.09,3.81,14.76,3,16.5,3C19.58,3,22,5.42,22,8.5C22,12.28,18.6,15.36,13.45,19.03L12,20.35V21.35z"></path>
                    </svg>
                </button>
                <span class="likes-count">Likes: {{ event.like }}</span>

                <p class="title-event">{{ event.title }}</p>
                <br>
                <p class="desc-event">Description : {{ event.description }}</p>
                <br>
                <button class="purple">JE PARTICIPE</button>
                <br>
                <button class="explore">CONTACTER L'ORGANISATEUR</button>
                <br>
                <p class="date-creat">Posté le {{ event.createdAtP|date('Y-m-d') }} à {{ event.createdAtP|date('H:i:s') }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <script>

        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');

                if(pressed) {

                    fetch(`/add_like/${postId}`)
                        .then(response => response.json())
                        .then(data => {
                            const likesCountElement = document.querySelector(`.likes-count[data-post-id="${postId}"]`);
                            likesCountElement.textContent = `Likes: ${data.likes}`;
                        })
                        .catch(error => console.error('Erreur lors de la demande de like:', error));
                }else{

                    fetch(`/remove_like/${postId}`)
                        .then(response => response.json())
                        .then(data => {
                            const likesCountElement = document.querySelector(`.likes-count[data-post-id="${postId}"]`);
                            likesCountElement.textContent = `Likes: ${data.likes}`;
                        })
                        .catch(error => console.error('Erreur lors de la demande de like:', error));

                }

            });

        });

        var pressed = false;

        function toggleLike(button) {
            var likesCountElement = button.nextElementSibling;
            var currentLikes = parseInt(likesCountElement.innerText.split(": ")[1]);

            if (pressed) {
                // Si le bouton est déjà désactivé, réactiver le bouton et soustraire 1 au nombre de likes
                pressed = false;
                var newLikes = currentLikes - 1;
                likesCountElement.innerText = "Likes: " + newLikes;
            } else {
                // Si le bouton n'est pas désactivé, activer le bouton et ajouter 1 au nombre de likes
                pressed = true;
                var newLikes = currentLikes + 1;
                likesCountElement.innerText = "Likes: " + newLikes;
            }
        }



    </script>



{% endblock %}