{% extends 'base.html.twig' %}

{% block title %}
    Solidarity
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/solidarity.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <br><br>
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="title1">Rejoignez le Mouvement de Solidarité
                </h1><br>
                <p class="text1">La solidarité prend vie à travers nos actions. Découvrez et participez à nos événements dédiés à la construction d'un monde meilleur.</p><br>
                <a href="{{ path('solidarity_form') }}">
                    <button class="purple">JE POSTE UN ÉVÉNEMENT</button>
                </a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <br>
                <img src="{{ asset ('images/solidarity/top1.jpeg') }}" class="img-fluid" alt="Image" width="500" height="200">
            </div>
        </div>
        <br><br>
    </div>
    <div class="contain">
        <br><br>
        <p class="blue">ÉVÉNEMENTS</p>
        <h3>Nos Événements</h3>
        <br>
        <div class="table-container1">
            {% for event in events %}

                {% set email = emails[event.id] %}

            <div class="col">
                {% if event.category == "alimentaire" %}
                    <img src="{{ asset ('images/solidarity/sol.jpeg') }}" class="image" alt="Image">
                    <p class="date-creat"></p>
                {% else %}
                    {% if event.category == "communautaire" %}
                        <img src="{{ asset ('images/solidarity/sol3.jpeg') }}" class="image" alt="Image">
                        <p class="date-creat"></p>
                    {% else %}
                        {% if event.category == "environnemental" %}
                            <img src="{{ asset ('images/solidarity/sol1.jpeg') }}" class="image" alt="Image">
                            <p class="date-creat"></p>
                        {% else %}
                            {% if event.category == "sensibilisation" %}
                                <img src="{{ asset ('images/solidarity/sol2.jpeg') }}" class="image" alt="Image">
                                <p class="date-creat"></p>
                            {% else %}
                                <img src="{{ asset ('images/solidarity/solidarite.jpeg') }}" class="image" alt="Image">
                                <p class="date-creat"></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <br>
                <div class="like-container">
                    <button class="like-button{% if likedStates[event.id] %} liked{% endif %}" onclick="toggleLike(this)" data-post-id="{{ event.id }}">
                        {% if likedStates[event.id] %}
                            <i class="fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                    </button>
                    <span class="likes-count">{{ event.like }}</span>
                </div>

                <p class="title-event">{{ event.title }}</p>
                <p class="desc-event"> {{ event.description }}</p>
                <div class="button-container">
                    <button class="purple">JE PARTICIPE</button>
                    <button class="explore" onclick="redirectToEmail('{{ email }}')">CONTACTER L'ORGANISATEUR</button>
                </div>
                <br>
                <p class="date-creat">Posté le {{ event.createdAtP|date('Y-m-d') }} à {{ event.createdAtP|date('H:i:s') }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    {% block javascripts %}
        <script>
            // Initialiser l'état de like pour chaque bouton
            const likedStates = {{ likedStates|json_encode|raw }};

            document.addEventListener('DOMContentLoaded', function() {
                // Ajouter un écouteur d'événement à tous les boutons de like
                document.querySelectorAll('.like-button').forEach(button => {
                    const postId = button.getAttribute('data-post-id');
                    // Initialiser l'état du bouton de like en fonction de likedStates
                    button.classList.toggle('liked', likedStates[postId]);

                    button.addEventListener('click', () => {
                        toggleLike(button);

                        if (likedStates[postId]) {
                            // Si le post est déjà liké, supprimer le like
                            fetch(`/remove_like/${postId}`)
                                .then(response => response.json())
                                .then(data => {
                                    // Mettre à jour le nombre de likes affiché
                                    const likesCountElement = button.nextElementSibling;
                                    likesCountElement.textContent = `Likes: ${data.likes}`;
                                    // Mettre à jour l'état de like dans likedStates
                                    likedStates[postId] = false;
                                })
                                .catch(error => console.error('Erreur lors de la demande de like:', error));
                        } else {
                            // Sinon, ajouter un like
                            fetch(`/add_like/${postId}`)
                                .then(response => response.json())
                                .then(data => {
                                    // Mettre à jour le nombre de likes affiché
                                    const likesCountElement = button.nextElementSibling;
                                    likesCountElement.textContent = `Likes: ${data.likes}`;
                                    // Mettre à jour l'état de like dans likedStates
                                    likedStates[postId] = true;
                                })
                                .catch(error => console.error('Erreur lors de la demande de like:', error));
                        }
                    });
                });

                // Fonction pour basculer l'état de like
                function toggleLike(button) {
                    button.classList.toggle('liked');
                    // Sélectionner l'icône du cœur à l'intérieur du bouton
                    var heartIcon = button.querySelector('i.fa-heart');

                    // Inverser les classes d'icône (vide <-> rempli)
                    if (heartIcon.classList.contains('far')) {
                        heartIcon.classList.remove('far');
                        heartIcon.classList.add('fas');
                    } else {
                        heartIcon.classList.remove('fas');
                        heartIcon.classList.add('far');
                    }
                }
            });

            function redirectToEmail(destinataire) {
                // Créer le lien mailto avec l'adresse e-mail destinataire
                var mailtoLink = 'mailto:' + destinataire;

                // Rediriger l'utilisateur vers le lien mailto
                window.location.href = mailtoLink;
            }

        </script>
    {% endblock %}



{% endblock %}